p{
font-family: roboto;
}
.bluepop{
    color: rgb(29, 29, 156);}
.blacky{
    color: black;
}
.darkred{
    color: brown;
}
.prettyfont{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.backgroundcolor{
    color: rgb(150, 201, 203);
}
.bold{text-decoration: underline;}
